<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}🦄 kbj-watch{% endblock %}</title>
    </head>
    <body class="bg-slate-700 text-white">
        <header class="flex">
            header
        </header>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
<script src="https://cdn.tailwindcss.com"></script>
</html>
